<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toonan.system.mapper.SystemCommonMapper">
   
	
	<!-- 查询授权菜单-->
	<select id="listRoleMenu" parameterType="Map" resultMap="com.toonan.system.mapper.MenuMapper.BaseResultMap">
	  SELECT  a.* FROM sys_menu a 
	  <where>
	     <if test="userId != null and userId != ''">
           AND EXISTS (SELECT 1 FROM sys_role_user b INNER JOIN  sys_role_menu c ON b.role_id=c.role_id WHERE a.menu_id=c.menu_id AND b.user_id=#{userId})
		</if>
	   <if test="status != null and status != ''">
             AND a.status = #{status}  <!-- 当前状态(0:停用;1:启用) -->
		</if>
        <if test="editMode != null and editMode != ''">
             AND a.edit_mode = #{editMode}  <!-- 编辑模式(0:只读;1:可编辑) -->
		</if>
		
		  <if test="cascadeId != null and cascadeId != ''">
		      AND cascade_id LIKE '%${cascadeId}%'  <!-- 分类科目语义ID -->
		</if>
        <if test="menuName != null and menuName != ''">
		      AND menu_name LIKE '%${menuName}%'  <!-- 菜单名称 -->
		</if>
        <if test="menuCode != null and menuCode != ''">
		      AND menu_code LIKE '%${menuCode}%'  <!-- 菜单编码 -->
		</if>
	  </where>
	    ORDER BY LENGTH(a.cascade_id) ASC,a.sort_no ASC
	</select>
	
	<!-- 查询授权菜单编号-->
	<select id="listRoleMenuId" parameterType="String" resultType="String">
	  SELECT DISTINCT c.menu_id  FROM sys_role_user b INNER JOIN  sys_role_menu c ON b.role_id=c.role_id WHERE   b.user_id=#{userId}
	</select>
	
	
	<select id="listJz" parameterType="String" resultType="com.toonan.core.vo.Item">
	  SELECT xzq as typeCode,dm AS itemCode,mc as itemName FROM t_jzdm  WHERE sfzx='0' AND  xzq=#{xzq}
	</select>
    <!-- 查询街镇信息 -->
	<select id="listJwh" parameterType="String" resultType="com.toonan.core.vo.Item">
	 SELECT jz as typeCode,dm AS itemCode,mc as itemName FROM t_jwhdm WHERE sfzx='0' AND  jz=#{jz}
	</select>
    <!-- 查询街镇信息 -->
	<select id="listPcs" parameterType="String" resultType="com.toonan.core.vo.Item">
	 SELECT jz as typeCode,dm AS itemCode,mc as itemName FROM t_pcsdm WHERE sfzx='0' AND   jz=#{jz}
	</select>
	
	 <!-- 查询街镇信息 -->
	<select id="selectJddm" parameterType="String" resultType="com.toonan.core.vo.Item">
	 SELECT xzq as typeCode,jddm AS itemCode,jdmc as itemName FROM t_jddm WHERE sfzx='0' AND   jddm=#{jddm}
	</select>
	<!-- 查询街路巷 -->
	<select id="listJddm" resultType="com.toonan.core.vo.Item"
		parameterType="Map">
		SELECT
		JD.JDDM AS itemCode,
		JD.JDMC AS itemName,
		CONCAT('JD',MP.JZ) AS typeCode
		FROM
		t_jddm AS JD
		INNER
		JOIN  t_mpb AS MP ON
		JD.JDDM = MP.JDDM
		<where>
			MP.SFZX='0' AND JD.SFZX='0' AND JD.sfhb!='0'
            <if test="typeCodeList!=null and typeCodeList.size()>0"> <!-- 多组的获取 -->
				AND CONCAT('JD',MP.JZ) IN
				<foreach item="typeCode" index="index" collection="typeCodeList"
					separator="," open="(" close=")">
					#{typeCode}
				</foreach>
			</if>
			<if test="xzq != null and xzq != ''">
				AND MP.xzq=#{xzq}
			</if>
			<if test="jwh != null and jwh != ''">
				AND MP.jwh=#{jwh}
			</if>
			 <if test="jz != null and jz != ''">
				AND MP.JZ=#{jz}
			</if>
			<if test="typeCode != null and typeCode != ''">
				AND MP.JZ=#{typeCode}
			</if>
			<if test="itemName != null and itemName != ''">
				AND JD.JDMC like  '%${itemName}%'
			</if>
			<if test="jddmList!=null and jddmList.size()>0"> <!-- 多组的获取 -->
				AND JD.JDDM IN
				<foreach item="item" index="index" collection="jddmList"
					separator="," open="(" close=")">
					#{item}
				</foreach>
			</if>
			<if test="jddm != null and jddm != ''">
				AND JD.JDDM=#{jddm}
			</if>
		</where>
		GROUP BY
		MP.JZ,
		JD.JDDM,
		JD.JDMC
	</select>
</mapper>
